.root {
    -fx-background-color: #8a8e9b;
    -fx-font-size: 16;
}

.white-tile {
    -fx-background-color: #e7d5a9;
    -fx-background-radius: 0;
}

.black-tile {
    -fx-background-color: #655947;
    -fx-background-radius: 0;
}

.valid-tile {
    -fx-background-color: #3aafdc;
    -fx-background-radius: 0;
    -fx-border-color: #86784c;
}
.selected-tile {
    -fx-background-color: #5bde5b;
    -fx-background-radius: 0;
}.check-tile {
     -fx-background-color: #f31818;
     -fx-background-radius: 0;
 }